/*! HTML5 Boilerplate v9.0.1 | MIT License | https://html5boilerplate.com/ */

/* main.css 3.0.0 | MIT License | https://github.com/h5bp/main.css#readme */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

   html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
  }
  
  ::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
  }
  
  ::selection {
    background: #b3d4fc;
    text-shadow: none;
  }
  
  hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
  }
  
  audio,
  canvas,
  iframe,
  img,
  svg,
  video {
    vertical-align: middle;
  }
  
  fieldset {
    border: 0;
    margin: 0;
    padding: 0;
  }
  
  textarea {
    resize: vertical;
  }
  
  /* ==========================================================================
     Author's custom styles
     ========================================================================== */

  /* Global styles */
  :root {
    --primary-color: #041e42;
    --secondary-color: #4a4a4a;
  }
      
  html {
    display: flex;
    font-family: "Adobe Caslon", Garamond, serif;
    color: var(--primary-color);
  }
  
  body {
    width: 100%;
    padding: 0;
    margin: 0;
  }
  
  ul,
  ol {
    list-style-type: none;
    margin: 0;
    padding: 0 1em;
  }

  h1 {
    color: var(--primary-color);
    text-align: center;
    padding: 10px;
    font-size: 4em;
    font-family: "Adobe Caslon", Garamond, serif;
    font-style: italic;
    font-weight: 40;
  }

  h2 {
    color: var(--primary-color);
    margin: 0;
    font-size: 2em;
    font-family: "Adobe Caslon", Garamond, serif;
    font-weight: 100;
  }

  h3 {
    color: var(--primary-color);
    font-family: "Futura PT", sans-serif;
    font-size: 1em;
    font-weight: 550;
  }

  h4 {
    color: var(--secondary-color);
    font-family: "Futura PT", sans-serif;
    font-size: 1em;
    font-weight: lighter;
    margin: 10px 0;
  }

  /* Header */
  .top-bar {
    background: var(--primary-color);
    color: white;
    text-align: left;
    padding: 15px;
    padding-left: 35px;
    font-size: 2em;
    font-weight: lighter;
    font-family: "Adobe Caslon", Garamond, serif;
  }

  /* Filter form */
  .filter {
    width: 100%;
  }
 
  form {
    padding: 20px;
    width: 330px;
  }
 
  #by-name {
    width: 330px;
    height: 75px;
    border-radius: 0%;
    border-width: thin;
    border-color: lightgray;
  }
 
  .search-by-name h3 {
    margin-bottom: -20px;
  }
 
  .search-by-name i {
    display: none;
  }
 
  .checkboxes {
    display: flex;
    padding-top: 5px;
    padding-bottom: 20px;
    border-radius: 0%;
    border-width: thin;
    border-color: lightgray;
  }
 
  .checkbox-label {
    color: var(--secondary-color);
    font-family: "Futura PT", sans-serif;
    font-size: 1em;
    font-weight: lighter;
    padding-left: 15px;
  }
 
  .checkbox {
    height: 20px;
    width: 20px;
  }
 
  .option {
    display: flex;
    width: 50%;
    align-items: center;
  }

  /* Attendees list */
  .attendees {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 110px 0px;
  }

  .attendee {
    border: var(--secondary-color) solid 1px;
    width: 80%;
    padding: 10px 20px;
    margin: 15px;
    border-radius: 0%;
  }

  .attendee h3 {
    margin-top: 10px;
  }

  /* Footer */
  .bottom-bar {
    background: var(--primary-color);
    color: white;
    text-align: right;
    padding: 15px;
    padding-right: 25px;
    font-size: 2em;
    font-weight: lighter;
    font-family: "Adobe Caslon", Garamond, serif;
  }
    
  .links ul {
    color: var(--secondary-color);
    text-decoration: none;
    display: flex;
    justify-content: space-around;
    padding-top: 25px;
    padding-bottom: 25px;
  }
    
  
  /* ==========================================================================
     Helper classes
     ========================================================================== */
  
  .hidden,
  [hidden] {
    display: none !important;
  }
  
  .visually-hidden {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
  
  .visually-hidden.focusable:active,
  .visually-hidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    white-space: inherit;
    width: auto;
  }
  
  .invisible {
    visibility: hidden;
  }
  
  .clearfix::before,
  .clearfix::after {
    content: "";
    display: table;
  }
  
  .clearfix::after {
    clear: both;
  }
  
  /* ==========================================================================
     Media Queries for Responsive Design.
     ========================================================================== */
  
  
  @media (prefers-reduced-motion: no-preference) {
    html {
        scroll-behavior: smooth;  
    }
  
  @media only screen and (min-width: 1150px) {

    .content {
        display: flex;
    }

    .filter {
        width: 35%;
        padding: 20px;
    }

    .search-by-name i {
        display: inline;
        position: absolute;
        top: 430px;
        left: 330px;
        color: var(--secondary-color);
    }
    
    .attendees {
        width: 65%;
    }

    .attendee {
        width: 40%;
    }

    .links ul {
        width: 50%;
        padding-left: 25%;
        padding-right: 25%;
    }
  
  }
    
  @media print,
    (-webkit-min-device-pixel-ratio: 1.25),
    (min-resolution: 1.25dppx),
    (min-resolution: 120dpi) {
  }
  
  /* ==========================================================================
     Print styles.
     Inlined to avoid the additional HTTP request:
     https://www.phpied.com/delay-loading-your-print-css/
     ========================================================================== */
  
  @media print {
    *,
    *::before,
    *::after {
      background: #fff !important;
      color: #000 !important;
      /* Black prints faster */
      box-shadow: none !important;
      text-shadow: none !important;
    }
  
    a,
    a:visited {
      text-decoration: underline;
      font-size: 1em;
    }
  
    a[href]::after {
      content: " (" attr(href) ")";
    }
  
    abbr[title]::after {
      content: " (" attr(title) ")";
    }
  
    a[href^="#"]::after,
    a[href^="javascript:"]::after {
      content: "";
    }
  
    pre {
      white-space: pre-wrap !important;
    }
  
    pre,
    blockquote {
      border: 1px solid #999;
      page-break-inside: avoid;
    }
  
    tr,
    img {
      page-break-inside: avoid;
      width: 350px;
    }
  
    p,
    h2,
    h3 {
      orphans: 3;
      widows: 3;
    }
  
    h2,
    h3 {
      page-break-after: avoid;
    }
  
    .social ul {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 0.8em;
    }
}}